@import 'src/sass/utils/variables';

.Listing {
  margin-bottom: 100px;
  &__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;
    font-family: $font-ranade;

    @media (max-width: 870px) {
      font-size: 30px;
    }
  }
  &__message {
    text-align: center;
  }
  &__loadMore {
    display: block;
    margin: 70px auto;
    width: max-content;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 14px;
    min-width: 60px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
    &:hover {
      background-color: rgba(255, 255, 255, 0.01);
    }
  }
}
