@import 'src/sass/utils/variables';
.Filter {
  &__sort {
    display: flex;
    column-gap: 40px;
    margin-bottom: 30px;
    &__item {
      opacity: 0.4;
      border-bottom: 2px solid transparent;
      transition: all 0.3s ease;
      padding-bottom: 9px;
      cursor: pointer;
      padding-right: 15px;
      &:hover {
        opacity: 0.9;
      }
      &--active {
        opacity: 1;
        border-color: #fff;
      }
      svg {
        margin-right: 7px;
      }
    }
  }
  &__hashtags {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    row-gap: 12px;
    margin-bottom: 30px;
    &__item {
      cursor: pointer;
      padding: 11px 15px;
      border-radius: 30px;
      font-size: 14px;
      min-width: 60px;
      text-align: center;
      border: 0.5px solid rgba(255, 255, 255, 0.04);
      background-color: rgba(255, 255, 255, 0.01);
      &:hover {
        background-color: rgba(255, 255, 255, 0.02);
      }
      &--active {
        background-color: #fff !important;
        color: #000;
      }
    }
  }
}
