@import 'src/sass/utils/variables';
.Post {
  background-color: rgba(#ffffff, 0.05);
  border-radius: 30px;
  padding: 33px;
  transition: all 1s ease-out;
  border: 1px solid rgba(255, 255, 255, 0.05);
  overflow: hidden;
  &:hover {
    border-color: rgba(255, 255, 255, 0.1);
  }
  &__Header {
    background-color: rgba($color: $color-black, $alpha: 0.5);
    margin: -33px -33px 23px;
    padding: 22px 33px 18px;
    display: flex;
  }
  &__Reviewing {
    position: relative;
    z-index: 10;
    padding-right: 15px;
    &:hover .Post__ReviewingInfo {
      opacity: 1;
      pointer-events: all;
    }
  }
  &__ReviewingIcon {
    margin-left: 8px;
    vertical-align: 3px;
  }

  &__Content a {
    color: $color-blue;
    &:hover {
      text-decoration: underline;
    }
  }

  &__ReviewingInfo {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 242px;
    top: -20px;
    left: 100%;
    background-color: $color-black;
    box-shadow: 0px 0px 24px rgba($color: #000, $alpha: 0.15);
    border-radius: 10px;
    font-size: 12px;
    padding: 15px;

    &::after {
      content: '';
      position: absolute;
      right: 100%;
      top: 20px;
      width: 0;
      height: 0;
      border-top: 9px solid transparent;
      border-right: 9px solid $color-black;
      border-bottom: 9px solid transparent;
    }
  }
  &__Cancel {
    color: $color-red;
    cursor: pointer;
    text-decoration: underline;
  }
  &__Author {
    opacity: 0.5;
    font-size: 12px;
  }
  &__Date {
    opacity: 0.5;
    margin-bottom: 18px;
  }
  &__Rating {
    display: flex;
    width: max-content;
    align-items: center;
    margin-top: 32px;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    p {
      border: 1px solid rgba(#ffffff, 0.1);
      transition: all 0.3s ease-out;
      background-color: rgba(#ffffff, 0.01);
      &:hover {
        background-color: rgba(#ffffff, 0.04);
      }
    }
    &__Up {
      --color: #4ca4ff;
      border-radius: 20px 0 0 20px;
      padding: 9px 12px;
      svg {
        vertical-align: -3px;
        margin-right: 7px;
        transform: rotate(180deg);
      }
      &--active {
        color: var(--color);
        svg {
          color: var(--color);
          fill: var(--color);
        }
      }
    }
    &__Down {
      --color: #f84a4a;
      padding: 9px 14px;
      border-radius: 0 20px 20px 0;
      border-left: none !important;
      &--active svg {
        color: var(--color);
        fill: var(--color);
      }
    }
  }
  @media (max-width: 870px) {
    padding: 30px 25px 22px;
  }
}
